<!-- ======================= Page Title ===================== -->
<div class="page-title">
    <div class="container">
      <div class="page-caption">
        <h2>Hay muchos trabajos para vos, <span class="como-extrabold"> postulate</span></h2>
        <p><a href="#" title="Home">Inicio</a> <i class="ti-angle-double-right"></i> Trabajos</p>
      </div>
    </div>
  </div>
  <!-- ======================= End Page Title ===================== -->
  
  <!-- ====================== Start Job Detail 2 ================ -->
  <section class="padd-top-80 padd-bot-80">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-5">
          
          <div *ngIf="verFiltroLocalidad" class="widget-boxed">
            <h4 class="job_vacancie mrg-bot-20">Filtrar Por: </h4>
            <div class="widget-boxed-body" *ngIf="isApiLoaded">
              <div class="search_widget_job">
                <div class="field_w_search">
                  <input type="text" placeholder="Ubicacion" class="form-control"
                                [options]="options" ngx-google-places-autocomplete (onAddressChange)="filtrarPorLocalidad($event)" />
                </div>
              </div>
            </div>
          </div>
          
          <!-- NUEVO TIPO TRABAJO INIT -->
          <div *ngIf="verFiltrosTipoTrabajo" class="widget-boxed">
            <div class="widget-boxed-header">
              <h4>Tipo de Trabajo</h4>
            </div>
            <div class="widget-boxed-body">
              <div class="side-list no-border">
                <ul>
                  <li *ngFor="let tipoTrabajo of todosLosTipoTrabajos"> 
                    <span class="custom-checkbox">
                      <input type="checkbox" value="{{tipoTrabajo.nombre}}" (change)="filtrarPorTipoTrabajo(tipoTrabajo)">
                      <label for="a1"></label>
                    </span> {{tipoTrabajo.nombre}} <span class="pull-right" >{{obtenerCantidadTipoTrabajo(tipoTrabajo.id)}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- NUEVO TIPO TRABAJO END -->
          
          <!-- NUEVO CATEGORIA TRABAJO INIT -->
          <div *ngIf="verFiltrosCategoria" class="widget-boxed ">
            <div class="widget-boxed-header br-0">
              <h4>Categoría </h4>
            </div>
            <div class="widget-boxed-body" id="categoria">
              <div class="side-list no-border">
                <ul>
                  <li *ngFor="let categoria of todasLasCategoriasTrabajos"> 
                    <span class="custom-checkbox">
                      <input type="checkbox" value="{{categoria.nombre}}" (change)="filtrarPorCategoriaTrabajo(categoria)">
                      <label for="a1"></label>
                    </span> {{categoria.nombre}} <span class="pull-right" >{{obtenerCantidadTrabajosPorCategoria(categoria.id)}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- NUEVO CATEGORIA TRABAJO END -->
  
  
        </div>
  
        <!-- Start Job List -->
        <div class="col-md-9 col-sm-7">
          <div class="row mrg-bot-20">
            <div class="col-md-6 col-sm-12 col-xs-12 browse_job_tlt">
              <h4 class="job_vacancie">{{todosLosTrabajos.length > 0 ? todosLosTrabajos.length : '' }} {{todosLosTrabajos.length > 1 ? 'Trabajos Disponibles' : 'Trabajo Disponible' }} </h4>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="fl-right short_by_filter_list">
                <div class="search-wide short_by_til">
                  <h5>Ordenar Por</h5>
                </div>
                <div class="search-wide full">
                  <select class="wide form-control">
                    <option value="1">Mas Recientes</option>
                    <option value="2">Mas Solicitados</option>
                  </select>
                </div>
                <!-- <div class="search-wide full">
                  <select class="wide form-control">
                    <option>10 Por Pagina</option>
                    <option value="1">20 Por Pagina</option>
                    <option value="2">30 Por Pagina</option>
                  </select>
                </div> -->
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 browse_job_tlt">
                <a class="botonFiltros" *ngFor="let item of filtrosAplicados" (click)="eliminarFiltro(item.valor)">{{item.valor}} X</a>
              </div>
          </div>
  
          <!-- Single Verticle job -->
          <div *ngFor="let trabajo of todosLosTrabajos" class="job-verticle-list">
            <div class="vertical-job-card">
              <div class="vertical-job-header">
                <div class="vrt-job-cmp-logo"> 
                    <a href="job-detail.html">
                        <img *ngIf="!trabajo.noEspecificarEmpresa" [src]="obtenerImagenEmpresa(trabajo.empresaId)"class="img-responsive" alt="" />
                        <img *ngIf="trabajo.noEspecificarEmpresa" src="../../../../assets/img/logo-black.png" class="img-responsive" alt="" />
                    </a> 
                </div>
                
                <h4 *ngIf="!trabajo.noEspecificarEmpresa"><a href="job-detail.html">{{trabajo.empresaNombre}}</a></h4>
                <h4 *ngIf="trabajo.noEspecificarEmpresa"><a href="job-detail.html">{{trabajo.alternativaNombre}}</a></h4>
                <span class="com-tagline">Solicita: {{trabajo.puestoTrabajo}}</span>
              </div>
              <div class="vertical-job-body">
                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12">
                    <ul class="can-skils">
                      <li><strong><b>Tipo de trabajo:</b> </strong>{{obtenerNombreTipoTrabajo(trabajo.tipoTrabajoId)}}</li>
                      <li><strong><b>Ubicacion: </b></strong>{{trabajo.ciudad}}, {{trabajo.provincia}} </li>
                      <li *ngIf="trabajo.remuneracionMaxima || trabajo.remuneracionMinima"><strong><b>Remuneracion: </b></strong>${{trabajo.remuneracionMinima}} - ${{trabajo.remuneracionMaxima}} {{obtenerTipoRemuneracion(trabajo.tipoRemuneracion)}}</li>
                      <li><strong><b>Edad: </b></strong><span *ngIf="!trabajo.edadMaxima">Mayor de </span>{{trabajo.edadMinima}} <span *ngIf="trabajo.edadMaxima">a {{trabajo.edadMaxima}}</span> años</li>
                      <li><strong><b>Genero: </b></strong>{{obtenerGenero(trabajo.genero)}}</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="vrt-job-act">
                      <a href="#" data-toggle="modal" data-target="#apply-job"
                        class="btn-job theme-btn job-apply">Aplicar</a>
                      <a href="/trabajos/{{trabajo.id}}" title="" class="btn-job theme-btn">ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          
          <!-- <div class="job-verticle-list">
            <div class="vertical-job-card">
              <div class="vertical-job-header">
                <div class="vrt-job-cmp-logo"> <a href="job-detail.html"><img src="assets/img/oversoft.png"
                      class="img-responsive" alt="" /></a> </div>
                <h4><a href="job-detail.html">Oversoft</a></h4>
                <span class="com-tagline">Atencion al cliente</span>
              </div>
              <div class="vertical-job-body">
                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12">
                    <ul class="can-skils">
                      <li><strong><b>Tipo de trabajo:</b> </strong>Full Time</li>
                      <li><strong><b>Ubicacion: </b></strong> Villa Maria, Cordoba </li>
                      <li><strong><b>Salario: </b></strong>$90.000 - $150.000 Neto</li>
                      <li><strong><b>Edad: </b></strong>25 - 40 años</li>
                      <li><strong><b>Genero: </b></strong>Masculino</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="vrt-job-act">
                      <a href="#" data-toggle="modal" data-target="#apply-job"
                        class="btn-job theme-btn job-apply">Aplicar</a>
                      <a routerLink="/trabajos/idtrabajo" title="" class="btn-job light-gray-btn">ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="job-verticle-list">
            <div class="vertical-job-card">
              <div class="vertical-job-header">
                <div class="vrt-job-cmp-logo"> <a href="job-detail.html"><img src="assets/img/globant.png"
                      class="img-responsive" alt="" /></a> </div>
                <h4><a href="job-detail.html">Globant</a></h4>
                <span class="com-tagline">Rediseño de Producto</span>
              </div>
              <div class="vertical-job-body">
                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12">
                    <ul class="can-skils">
                      <li><strong><b>Tipo de trabajo:</b> </strong>Full Time</li>
                      <li><strong><b>Ubicacion: </b></strong> Villa Maria, Cordoba </li>
                      <li><strong><b>Salario: </b></strong>$90.000 - $150.000 Neto</li>
                      <li><strong><b>Edad: </b></strong>25 - 40 años</li>
                      <li><strong><b>Genero: </b></strong>Masculino</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="vrt-job-act">
                      <a href="#" data-toggle="modal" data-target="#apply-job"
                        class="btn-job theme-btn job-apply">Aplicar</a>
                      <a routerLink="/trabajos/idtrabajo" title="" class="btn-job light-gray-btn">ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="job-verticle-list">
            <div class="vertical-job-card">
              <div class="vertical-job-header">
                <div class="vrt-job-cmp-logo"> <a href="job-detail.html"><img src="assets/img/lacteosavenida.png"
                      class="img-responsive" alt="" /></a> </div>
                <h4><a href="job-detail.html">Lacteos Avenida</a></h4>
                <span class="com-tagline">Despachante de Producto</span>
              </div>
              <div class="vertical-job-body">
                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12">
                    <ul class="can-skils">
                      <li><strong><b>Tipo de trabajo:</b> </strong>Full Time</li>
                      <li><strong><b>Ubicacion: </b></strong> Villa Maria, Cordoba </li>
                      <li><strong><b>Salario: </b></strong>$90.000 - $150.000 Neto</li>
                      <li><strong><b>Edad: </b></strong>25 - 40 años</li>
                      <li><strong><b>Genero: </b></strong>Masculino</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="vrt-job-act">
                      <a href="#" data-toggle="modal" data-target="#apply-job"
                        class="btn-job theme-btn job-apply">Aplicar</a>
                      <a routerLink="/trabajos/idtrabajo" title="" class="btn-job light-gray-btn">ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="job-verticle-list">
            <div class="vertical-job-card">
              <div class="vertical-job-header">
                <div class="vrt-job-cmp-logo"> <a href="job-detail.html"><img src="assets/img/prservices.png"
                      class="img-responsive" alt="" /></a> </div>
                <h4><a href="job-detail.html">PR Services</a></h4>
                <span class="com-tagline">Mantenimiento de servidores</span>
              </div>
              <div class="vertical-job-body">
                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12">
                    <ul class="can-skils">
                      <li><strong><b>Tipo de trabajo:</b> </strong>Full Time</li>
                      <li><strong><b>Ubicacion: </b></strong> Villa Maria, Cordoba </li>
                      <li><strong><b>Salario: </b></strong>$90.000 - $150.000 Neto</li>
                      <li><strong><b>Edad: </b></strong>25 - 40 años</li>
                      <li><strong><b>Genero: </b></strong>Masculino</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="vrt-job-act">
                      <a href="#" data-toggle="modal" data-target="#apply-job"
                        class="btn-job theme-btn job-apply">Aplicar</a>
                      <a routerLink="/trabajos/idtrabajo" title="" class="btn-job light-gray-btn">ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="job-verticle-list">
            <div class="vertical-job-card">
              <div class="vertical-job-header">
                <div class="vrt-job-cmp-logo"> <a href="job-detail.html"><img src="assets/img/we.png"
                      class="img-responsive" alt="" /></a> </div>
                <h4><a href="job-detail.html">We. Urbans</a></h4>
                <span class="com-tagline">Encargado de Logistica</span>
              </div>
              <div class="vertical-job-body">
                <div class="row">
                  <div class="col-md-9 col-sm-12 col-xs-12">
                    <ul class="can-skils">
                      <li><strong><b>Tipo de trabajo:</b> </strong>Full Time</li>
                      <li><strong><b>Ubicacion: </b></strong> Villa Maria, Cordoba </li>
                      <li><strong><b>Salario: </b></strong>$90.000 - $150.000 Neto</li>
                      <li><strong><b>Edad: </b></strong>25 - 40 años</li>
                      <li><strong><b>Genero: </b></strong>Masculino</li>
                    </ul>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="vrt-job-act">
                      <a href="#" data-toggle="modal" data-target="#apply-job"
                        class="btn-job theme-btn job-apply">Aplicar</a>
                      <a routerLink="/trabajos/idtrabajo" title="" class="btn-job light-gray-btn">ver detalle</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
  
  
  
  
          <!-- PAGINACION!!!!! -->
          <!-- <div class="clearfix"></div>
          <div class="utf_flexbox_area padd-0">
            <ul class="pagination">
              <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <span
                    aria-hidden="true">«</span> <span class="sr-only">Previous</span> </a> </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">»</span>
                  <span class="sr-only">Next</span> </a> </li>
            </ul>
          </div> -->
        </div>
      </div>
      <!-- End Row -->
    </div>
  </section>
  <!-- ====================== End Job Detail 2 ================ -->