<!-- ======================= Start Page Title ===================== -->
<div class="page-title">
    <div class="container">
      <div class="page-caption">
        <h2>{{estadoPantalla}} Trabajo</h2>
        <p><a [routerLink]="['/usuarios',  authService.userID]" title="Home">Inicio</a> <i class="ti-angle-double-right"></i> Crear Trabajo</p>
      </div>
    </div>
  </div>
  <!-- ======================= End Page Title ===================== --> 
  
  <!-- ======================= Start Create Company ===================== -->
  <section class="utf_create_company_area padd-top-30 padd-bot-80">
    <div class="container">
        <div class="col-md-8 col-sm-12 col-xs-12 browse_job_tlt padd-bot-20">
            <h2>Agregar Nuevo Trabajo</h2>
        </div>
        <form [formGroup]="trabajoForm" (ngSubmit)="submitTrabajoData()" class="c-form">
            <!-- General Information -->
            <div class="box">
                <div class="box-header">
                    <h4>Información General</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <label>Empresa *</label>
                            <select class="wide form-control" formControlName="empresaId">
                                <option *ngFor="let emp of todasLasEmpresas" [ngValue]="emp.id">{{emp.nombre}}</option>
                            </select>
                            <span
                                *ngIf="trabajoForm.get('empresaId')?.hasError('required') && trabajoForm.controls['empresaId'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                        <div class="col-md-4 col-sm-4" style="margin-top: 40px;">
                            <span class="custom-checkbox">
                                <input type="checkbox"  [value]="" formControlName="noEspecificarEmpresa">
                                <label >No especificar en publicacion</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="trabajoForm.get('noEspecificarEmpresa')?.value" class="col-md-12 col-sm-12 col-xs-12">
                            <label>Nombre Alternativo * (Se visualizará en el anuncio reemplazando el nombre de la empresa)</label>
                            <input type="text" formControlName="alternativaNombre" class="form-control" placeholder="Nombre Alternativo" required>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- DATOS DEL AVISO -->
            <div class="box">
                <div class="box-header">
                    <h4>Datos del Aviso</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Puesto de Trabajo *</label>
                            <input type="text" formControlName="puestoTrabajo" class="form-control" placeholder="Puesto de Trabajo" required>
                            <span *ngIf="trabajoForm.get('puestoTrabajo')?.hasError('required') && trabajoForm.controls['puestoTrabajo'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="isApiLoaded">
                            <label>Localidad *</label>
                            <input formControlName="ciudad" placeholder="ciudad, provincia" class="form-control"
                                [options]="options" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" />
                            <span
                                *ngIf="trabajoForm.get('ciudad')?.hasError('required') && trabajoForm.controls['ciudad'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>Provincia *</label>
                            <input formControlName="provincia" class="form-control" placeholder="Provincia">
                            <span
                                *ngIf="trabajoForm.get('provincia')?.hasError('required') && trabajoForm.controls['provincia'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>Tipo de Trabajo *</label>
                            <select class="wide form-control" formControlName="tipoTrabajoId">
                                <option *ngFor="let tipoTrabajo of todosLosTipoTrabajo | async" [ngValue]="tipoTrabajo.id">{{tipoTrabajo.nombre}}</option>
                            </select>
                            <span
                                *ngIf="trabajoForm.get('tipoTrabajoId')?.hasError('required') && trabajoForm.controls['tipoTrabajoId'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>Área de Trabajo *</label>
                            <select class="wide form-control" formControlName="areaTrabajoId">
                                <option *ngFor="let areaTrabajo of todasLasAreaTrabajo | async" [ngValue]="areaTrabajo.id">{{areaTrabajo.nombre}}</option>
                            </select>
                            <span
                                *ngIf="trabajoForm.get('areaTrabajoId')?.hasError('required') && trabajoForm.controls['areaTrabajoId'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label>Descripcion del Puesto | Requisitos *</label>
                            <textarea style="resize:none" rows="10" class="form-control" placeholder="Ingrese resumen" formControlName="descripcionPuesto"></textarea>
                            <span
                                *ngIf="trabajoForm.get('descripcionPuesto')?.hasError('required') && trabajoForm.controls['descripcionPuesto'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- JORNADA LABORAL -->
            <div class="box">
                <div class="box-header">
                    <h4>Jornada Laboral</h4>
                </div>
                <div class="box-body">
                    <!-- HORARIOS 1 -->
                    <div class="">
                        <div class="row">
                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <label>Horarios</label>
                                <!-- <select class="wide form-control" formControlName="tipoHorario" (ngModelChange)="validarTipoHorario()"> -->
                                <select class="wide form-control" formControlName="tipoHorario" (change)="limpiarHorarios()">
                                    <option [ngValue]="1">Horarios Flexibles</option>
                                    <option [ngValue]="2">Indicar Horarios </option>
                                </select>
                                <span
                                    *ngIf="trabajoForm.get('tipoHorario')?.hasError('required') && trabajoForm.controls['tipoHorario'].touched"
                                    class="form-text text-danger">Este campo es obligatorio</span>
                            </div>
                        </div>
                        <div class="row" *ngIf="trabajoForm.get('tipoHorario')?.value === 2">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class=" padd-bot-0">
                                    <div class="">
                                    <label>Dias Laborales</label>
                                    </div>
                                    <div class="side-list no-border">
                                        <ul>
                                            <li *ngFor="let dl of diasLaborales1.controls; let j=index"> 
                                                <span class="custom-checkbox">
                                                    <input type="checkbox" [value]="dl.value.value" [checked]="dl.value.selected" (change)="onCheckChange($event, 'diasLaborales1')">
                                                    <label >{{diasLaborales[j].nombre}}</label>
                                                </span>
                                            </li>
                                        </ul>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <label>Horario de Trabajo</label>
                                <!-- <select class="wide form-control" formControlName="horarioTrabajo1" (ngModelChange)="validarHorarioTrabajo()"> -->
                                <select class="wide form-control" formControlName="horarioTrabajo1">
                                    <option [ngValue]="1">Horario Corrido</option>
                                    <option [ngValue]="2">Horario Cortado </option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Desde</label>
                                        <input class="form-control" formControlName="horario1desde" type="time">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Hasta</label>
                                        <input class="form-control" formControlName="horario1hasta" type="time">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="trabajoForm.get('horarioTrabajo1')?.value === 2">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Desde</label>
                                        <input formControlName="horario1desdecortado" class="form-control" type="time">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Hasta</label>
                                        <input formControlName="horario1hastacortado" class="form-control" type="time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- HORARIOS 2 -->
                    <div *ngIf="horario2 && trabajoForm.get('tipoHorario')?.value === 2" class="row padd-top-30 horarioExtra">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class=" padd-bot-0">
                                    <div>
                                        <label>Dias Laborales</label>
                                    </div>  
                                    <div class="side-list no-border">
                                        <ul>
                                            <li *ngFor="let dl of diasLaborales2.controls; let j=index"> 
                                                <span class="custom-checkbox">
                                                    <input type="checkbox" [value]="dl.value.value" [checked]="dl.value.selected" (change)="onCheckChange($event, 'diasLaborales2')">
                                                    <label >{{diasLaborales[j].nombre}}</label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <label>Horario de Trabajo</label>
                                <select class="wide form-control" formControlName="horarioTrabajo2">
                                    <option [ngValue]="1">Horario Corrido</option>
                                    <option [ngValue]="2">Horario Cortado </option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Desde</label>
                                        <input class="form-control" formControlName="horario2desde" type="time">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Hasta</label>
                                        <input class="form-control" formControlName="horario2hasta" type="time">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="trabajoForm.get('horarioTrabajo2')?.value === 2">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Desde</label>
                                        <input formControlName="horario2desdecortado" class="form-control" type="time">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Hasta</label>
                                        <input formControlName="horario2hastacortado" class="form-control" type="time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <!-- HORARIOS 3 -->
                    <div *ngIf="horario3 && trabajoForm.get('tipoHorario')?.value === 2" class="row padd-top-30 horarioExtra">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class=" padd-bot-0">
                                    <div>
                                        <label>Dias Laborales</label>
                                    </div>  
                                    <div class="side-list no-border">
                                        <ul>
                                            <li *ngFor="let dl of diasLaborales3.controls; let j=index"> 
                                                <span class="custom-checkbox">
                                                    <input type="checkbox" [value]="dl.value.value" [checked]="dl.value.selected" (change)="onCheckChange($event, 'diasLaborales3')">
                                                    <label >{{diasLaborales[j].nombre}}</label>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <label>Horario de Trabajo</label>
                                <select class="wide form-control" formControlName="horarioTrabajo3">
                                    <option [ngValue]="1">Horario Corrido</option>
                                    <option [ngValue]="2">Horario Cortado </option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Desde</label>
                                        <input class="form-control" formControlName="horario3desde" type="time">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Hasta</label>
                                        <input class="form-control" formControlName="horario3hasta" type="time">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="trabajoForm.get('horarioTrabajo3')?.value === 2">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Desde</label>
                                        <input formControlName="horario3desdecortado" class="form-control" type="time">
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <label>Hasta</label>
                                        <input formControlName="horario3hastacortado" class="form-control" type="time">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row text-center" *ngIf="trabajoForm.get('tipoHorario')?.value === 2">
                        <a *ngIf="botonVisible" (click)="addHorario()" class="btn btn-m theme-btn text-center mrg-r-10">Agregar Otro</a>
                        <a *ngIf="botonEliminarVisible" (click)="eliminarHorario()" class="btn btn-m theme-btn text-center">Eliminar</a>
                    </div>
                </div>
            </div>

        

            <!-- REMUNERACION -->
            <div class="box">
                <div class="box-header">
                    <h4>Remuneración</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <label>Remuneracion Ofrecida *</label>
                            <select class="wide form-control" formControlName="remuneracionOfrecida" (ngModelChange)="validarRemuneracionOfrecida()">
                                <option [ngValue]="1">Indicar Remuneracion </option>
                                <option [ngValue]="2">Omitir Remuneracion </option>
                            </select>
                            <span
                                *ngIf="trabajoForm.get('remuneracionOfrecida')?.hasError('required') && trabajoForm.controls['remuneracionOfrecida'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12" *ngIf="trabajoForm.get('remuneracionOfrecida')?.value === 1">
                            <label>Tipo Remuneracion</label>
                            <select class="wide form-control" formControlName="tipoRemuneracion">
                                <option [ngValue]="1">Remuneracion Neta </option>
                                <option [ngValue]="2">Remuneracion Bruta </option>
                            </select>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" *ngIf="trabajoForm.get('remuneracionOfrecida')?.value === 1">
                            <label>Remuneracion Minima</label>
                            <input class="form-control" formControlName="remuneracionMinima" type="number" min="0" max="999999" placeholder="$" >
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12" *ngIf="trabajoForm.get('remuneracionOfrecida')?.value === 1">
                            <label>Remuneracion Maxima</label>
                            <input formControlName="remuneracionMaxima" class="form-control" type="number" min="0" max="999999" placeholder="$"  >
                        </div>
                    </div>
                </div>
            </div>
            <!-- FILTROS DEL AVISO -->
            <div class="box">
                <div class="box-header">
                    <h4>Filtros del Aviso</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Género *</label>
                        <select class="wide form-control" formControlName="genero">
                            <option [ngValue]="1">Masculino </option>
                            <option [ngValue]="2">Femenino </option>
                            <option [ngValue]="3">Indistinto </option>
                        </select>
                        <span
                            *ngIf="trabajoForm.get('genero')?.hasError('required') && trabajoForm.controls['genero'].touched"
                            class="form-text text-danger">Este campo es obligatorio</span>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label>Edad *</label>
                        <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="edadMinima" class="form-control" type="number" min="0" max="999999" placeholder="Minima"  >
                            <span
                                *ngIf="trabajoForm.get('edadMinima')?.hasError('required') && trabajoForm.controls['edadMinima'].touched"
                                class="form-text text-danger">Este campo es obligatorio</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="edadMaxima" class="form-control" type="number" min="0" max="999999" placeholder="Maxima"  >
                        </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <label>Educación</label>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label>Nivel de Estudio Mínimo *</label>
                                <select class="wide form-control" formControlName="nivelEstudioMinimo">
                                    <option [ngValue]="1">Secundario </option>
                                    <option [ngValue]="2">Universitario </option>
                                    <option [ngValue]="3">Postgrado/Maestria/Doctorado </option>
                                    <option [ngValue]="4">Curso de formacion profesional/diplomatura </option>
                                </select>
                                <span
                                    *ngIf="trabajoForm.get('nivelEstudioMinimo')?.hasError('required') && trabajoForm.controls['nivelEstudioMinimo'].touched"
                                    class="form-text text-danger">Este campo es obligatorio</span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label>Estado de Estudios *</label>
                                <select class="wide form-control" formControlName="estadoEstudios">
                                    <option [ngValue]="1">Completo </option>
                                    <option [ngValue]="2">Avanzado </option>
                                    <option [ngValue]="3">En Curso </option>
                                    <option [ngValue]="4">Incompleto </option>
                                </select>
                                <span
                                    *ngIf="trabajoForm.get('estadoEstudios')?.hasError('required') && trabajoForm.controls['estadoEstudios'].touched"
                                    class="form-text text-danger">Este campo es obligatorio</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Áreas de Estudio</label>
                                <textarea formControlName="areasEstudio" style="resize:none" rows="4" class="form-control" placeholder="Áreas de Estudio"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>Experiencias Laborales Previas</label>
                        <textarea formControlName="experienciasLaboralesPrevias" style="resize:none" rows="4" class="form-control" placeholder="Experiencias Laborales Previas"></textarea>
                    </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-m theme-btn full-width">Guardar</button>
              </div>
      </form>
    </div>
  </section>
  
