<!-- ======================= Start Page Title ===================== -->
<div class="page-title">
    <div class="container">
        <div class="page-caption">
            <h2>Informar Pago</h2>
            <p><a href="#" title="Home">Inicio</a> <i class="ti-angle-double-right"></i> Informar Pago</p>
        </div>
    </div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- ======================= Start Create Company ===================== -->
<section class="utf_create_company_area padd-top-30 padd-bot-80">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 browse_job_tlt padd-bot-40">
                <h2>Realizar Pago de Anuncio</h2>
                <p> El pago de un anuncio le permitirá visualizar la informacion de contacto de cada uno de los postulantes. <br>
                    Para realizar el hace click en el siguiente boton. 
                    Luego de hacer el pago deberas informarlo en el formulario que se encuentra debajo.
                </p>
                <div class="text-center">
                    <a target="_blank" href="https://mpago.la/2PNjz1n" type="submit"
                        class="btn btn-m theme-btn full-width">Realizar Pago</a>
                </div>
            </div>
            <div class="col-xs-12 browse_job_tlt padd-bot-20">
                <h2>Informar Pago de Anuncio</h2>
            </div>
        </div>
        <form [formGroup]="informePagoForm" (ngSubmit)="submitForm()" class="c-form">
            <!-- General Information -->
            <div class="box">
                <div class="box-header">
                    <h4>Informar Pago</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 padd-bot-20">
                            <label>Anuncio *</label>
                            <select formControlName="idTrabajo" *ngFor="let trabajo of trabajosNoPagadosDeUsuario" class="wide form-control">
                                <option value="{{trabajo.id}}" >{{trabajo.empresaNombre}} - {{trabajo.puestoTrabajo}} - {{trabajo.ciudad}}, {{trabajo.provincia}}</option>
                            </select>
                            <span *ngIf="informePagoForm.get('idTrabajo')?.hasError('required') && informePagoForm.controls['idTrabajo'].touched" class="form-text text-danger">
                                Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Número de Operación *</label>
                            <input formControlName="numeroOperacion" type="text" class="form-control" placeholder="Número de operación">
                            <span *ngIf="informePagoForm.get('numeroOperacion')?.hasError('required') && informePagoForm.controls['numeroOperacion'].touched" class="form-text text-danger">
                                Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-m theme-btn full-width">Confirmar Pago</button>
            </div>
        </form>
    </div>
</section>