.custom-file-upload {
    box-sizing: revert;
    height: 48px;
}

.aclaracionResumenEmpresa{
    margin: 0px 0px 0px 10px;
}

.avatar-lg {
    width: 100%;
    height: 50px;
    border: 2px solid #dde6ef;
    border-radius: 5px;
}