.btn-job {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    border-radius: 4px;
    padding: 6px 20px;
    font-weight: 500;
    text-transform: uppercase;
    border: 2px solid transparent;
    margin: 6px auto;
}

.theme-btn{
    cursor: pointer;
}

.table .job-type {
    padding: 5px 10px;
}