<!-- ======================= Page Title ===================== -->
<div class="page-title">
    <div class="container">
      <div class="page-caption">
        <h2>Mi Perfil</h2>
        <p><a href="#" title="Home">Inicio</a> <i class="ti-angle-double-right"></i> Mi Perfil</p>
      </div>
    </div>
  </div>
  <!-- ======================= End Page Title ===================== --> 
  
  <!-- ================ Profile Settings ======================= -->
  <section class="padd-top-80 padd-bot-80">
    <div class="container">
      <div class="row"> 
        <div class="col-md-3">
          <app-usuariotemplate></app-usuariotemplate>
        </div>
        <div class="col-md-9">
          <div id="dashboard_listing_blcok">
            <!-- <div class="col-md-4 col-sm-4">
              <a href="#">
                <div class="statusbox">
                  <h3>Mi Curriculum</h3>
                  <div class="statusbox-content">
                    <p class="ic_status_item ic_col_one"><i class="fa fa-file-o"></i></p>
                    <span>Actualizado el 21/01/2022</span> 
                  </div>
                </div>
            </a>
            </div> -->
            <div class="col-md-4 col-sm-4">
              <a routerLink="empresas">
                <div class="statusbox">
                  <h3>Mis Empresas</h3>
                  <div class="statusbox-content">
                    <p class="ic_status_item ic_col_one"><i class="fa fa-list"></i></p>
                    <span>Gestionar Empresas</span> 
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-4">
              <a routerLink="trabajos">
                <div class="statusbox">
                  <h3>Mis trabajos</h3>
                  <div class="statusbox-content">
                    <p class="ic_status_item ic_col_one"><i class="fa fa-briefcase"></i></p>
                    <span>Gestionar Trabajos</span> 
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-4">
              <a routerLink="informarpago">
                <div class="statusbox">
                  <h3>Informar Pago</h3>
                  <div class="statusbox-content">
                    <p class="ic_status_item ic_col_one"><i class="fa-solid fa-credit-card"></i></p>
                    <span>Realizar pago de Anuncios</span> 
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-12 col-sm-12">
                <img alt="" class="promocionImg" src="assets/img/promocion.jpeg">
            </div>

          </div>
        </div>	  
      </div>
    </div>
  </section>
  <!-- ================ End Profile Settings ======================= --> 