<!-- ======================= Page Title ===================== -->
<div class="page-title">
    <div class="container">
      <div class="page-caption">
        <h2>Cambiar Contraseña</h2>
        <p><a href="#" title="Home">Inicio</a> <i class="ti-angle-double-right"></i> Cambiar Contraseña</p>
      </div>
    </div>
  </div>
  <!-- ======================= End Page Title ===================== --> 
  
  <!-- ================ Profile Settings ======================= -->
  <section class="padd-top-80 padd-bot-80">
    <div class="container">
      <div class="row"> 
        <div class="col-md-3">
            <app-usuariotemplate></app-usuariotemplate>
        </div>
        <div class="col-md-9">
          <form [formGroup]="cambiarContraseniaForm" (ngSubmit)="submitCambiarContrasenia()" class="c-form">
      
            <!-- General Information -->
            <div class="box">
              <div class="box-header">
                <h4>Cambiar Contraseña</h4>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label>Nueva Contraseña *</label>
                    <input type="text" formControlName="nuevaContrasenia" class="form-control" required>
                    <span *ngIf="cambiarContraseniaForm.get('nuevaContrasenia')?.hasError('required') && cambiarContraseniaForm.controls['nuevaContrasenia'].touched"
                      class="form-text text-danger">Este campo es obligatorio.</span>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <label>Repetir Contraseña *</label>
                    <input type="text" formControlName="repetirContrasenia" class="form-control" required>
                    <span *ngIf="cambiarContraseniaForm.get('repetirContrasenia')?.hasError('required') && cambiarContraseniaForm.controls['repetirContrasenia'].touched"
                      class="form-text text-danger">Este campo es obligatorio.</span>
                    <span *ngIf="cambiarContraseniaForm.get('repetirContrasenia')?.hasError('minlength') && cambiarContraseniaForm.controls['repetirContrasenia'].touched"
                      class="form-text text-danger">Este campo debe tener 8 caracteres como minimo.</span>
                    <span *ngIf="cambiarContraseniaForm.get('repetirContrasenia')?.hasError('mustMatch')"
                      class="form-text text-danger">Las Contraseñas no coinciden.</span>
                  </div>
                  
                </div>
              </div>
            </div>
      
            <!-- Botón Guardar -->
            <div class="text-center">
              <button class="btn btn-m theme-btn full-width">Actualizar Contraseña</button>
            </div>
      
          </form>
        </div>	  
      </div>
    </div>
  </section>
  <!-- ================ End Profile Settings ======================= --> 