.similarJobs{
    background-color: #f8fafb;
}

h5{
    color:#7f5f84;
}

.job-apply{
    margin-top: 0px !important;
    width: 100%;
    margin-bottom: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
}

.imgEmpresa{
    border-radius: 5px;
    width: -webkit-fill-available;
    border: none;
}

.noMarginBottom{
    margin-bottom: 0px;
}

.formatText{
    white-space: pre-line;
}

.detail-wrapper-body span{
    display: contents;
}

.noFloat{
    float: none;
}

.borderBottom{
    border-bottom: 1px dashed #eaeff5 !important;
}